<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Теги</h5>
        <div class="card-body">
            <div class="d-flex flex-wrap">
                        <a href="" class="m-2 h5"></a>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Последние статьи</h5>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <img src="" alt="" class="card-img-top">
                <a href="" class="card-link">Подробнее</a>
                <hr>
            </div>
    </div>
</div>